.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h1 {
    font-size: 40px;
}

.home-container p {
    font-size: 20px;
    margin-bottom: 50px;
}

button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    transform: translateY(-2px);
    background-color: #fff;
    color: #171717e2
}

.active {
    background-color: #fff;
    color: #171717e2;
}

.section-title {
    padding: 40px;
    font-size: 30px;
}

.home-container h2 {
    position: relative;
    color: #Fff;
}

.last {
    position: relative;
    background-color: black;
    margin-top: 50px;
    width: 100%;
}
.last1{
    margin-top: 30px;
}
.last1 i {
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
}

.last1 a:hover i {
    color: #03c9f4;
}

.container {

    text-align: center;
}

.be {

    color: #ffffff;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.last a {
    text-decoration: none;
    color: #03c9f4;
}

.last img:hover img {
    color: #ff305b;
}